<body id="page-top">
    <!-- Navigation-->
   <app-header></app-header>
    <!-- Masthead-->
 
    <!-- Covid status Section-->
<app-coronavirus></app-coronavirus>
 <!-- Portfolio Section-->
    <app-portfolio></app-portfolio>
       <!-- About Section-->
   <app-about></app-about>
    <!-- Contact Section-->
    <app-contact></app-contact>
        <!-- Footer-->
   <app-footer></app-footer>
    <!-- Copyright Section-->
    
    
    <!-- Portfolio Modals--><!-- Portfolio Modal 1-->
       
</body>
